

<!-- <section> -->
  <!-- <app-india-news></app-india-news>
  <app-us-news></app-us-news> -->
  <!-- <app-news countryCode="in" title="India"></app-news>
  <app-news countryCode="us" title="USA"></app-news>
  <app-news countryCode="fr" title="France"></app-news>
  <app-news countryCode="gb" title="Britain"></app-news>
  <app-news countryCode="it" title="Italy"></app-news> -->

  <!-- <ng-container *ngFor="let news of newsDataRecords">
    <app-news [countryCode]="news.cc" [title]="news.title" [headerStyle]="news.headerStyle" [bgStyle]="news.bgColor"></app-news>
  </ng-container> 
</section> -->

<!-- <app-stock-records></app-stock-records> -->

<app-news></app-news>